/* # Variables ::
------------------------------------*/

$color-white: #fff;
$color-black: #000;
$color-black-mine-shaft: #232323;
$color-oxford-blue: #31394D;
$color-link-water: #F4F6FC;
$color-alabaster: #F9F9F9;
$color-zircon: #F8F9FF;
$color-mystic: #E2E8EB;
$color-selago: #E1ECFA;
$color-zumthor: #EEF6FF;
$color-wild-sand: #F5F5F5;
$color-catskill-white: #EEF2F6;
$color-mercury: #e5e5e5;
$color-porcelain: #F8FAFA;
$color-tower-gray: #A6B8C0;
$color-dove-gray: #707070;
$color-hit-gray: #ABB4BD;
$color-geyser: #CDD6E2;
$color-polo-blue: #91A9C9;
$color-polo-blue-2: #91A9C999;
$color-havelock-blue: #4988DD;
$color-perano-blue: #a4c3ee;
$color-st-tropaz: #2957A7;
$color-east-bay: #3D5B82;
$color-bluewood: #2f455c;
$color-java-green: #17C2C2;
$color-caribbean-green: #00C194;
$color-java-green-2: #17C2C280;
$color-sunset-orange: #FE5050;
$color-jaffa-orange: #ed7d31;
$color-peel-orange: #FF9800;
$color-texas-yellow: #FFB74C;
$color-peach-orange: #ffd89e;
$color-sandy-beach: #ffe8c5;
$color-bridal-health: #FFFAF1;