<div class="gestion-modeles-area">
    <div class="introduction-area p-d-flex p-jc-between">
        <h1 class="big-title"> Modèles de document </h1>
        <div class="btns-group two-btns">
            <!-- <div class="btn-importer" (click)="importModal()">
                <span class="label havelock-blue"> Importer </span>
            </div> -->
            <button class="btn btn-blue" pButton pRipple label="Ajouter" icon="pi pi-plus" (click)="showModalDialog()"></button>
        </div>
        <!--.btns-group-->
    </div>
    <!--.introduction-area-->
    <!-- // -- Products -- // -->
    <div class="table-area">
        <p-table [value]="documents" [paginator]="false" [rows]="10" [showCurrentPageReport]="true" (onPage)="paginate($event)" currentPageReportTemplate="Showing {first} to {last} of {{totalRecords}} entries" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-jc-between">
                    <h2>Liste de modèles de documents</h2>
                    <a class="link-action"></a>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th id="nom" (click)="filterby('orderby_modele_name')">Nom du modèle
                        <p-sortIcon></p-sortIcon>
                    </th>
                    <th id="type_document" (click)="filterby('orderby_type_document_libelle')">Type de document
                        <p-sortIcon>
                        </p-sortIcon>
                    </th>
                    <th id="date_creation" (click)="filterby('orderby_created_at')">Date de création
                        <p-sortIcon>
                        </p-sortIcon>
                    </th>
                    <th id="date_modification" (click)="filterby('orderby_updated_at')">Date de modification
                        <p-sortIcon>
                        </p-sortIcon>
                    </th>
                    <th id="auteur" (click)="filterby('orderby_auteur_firstname')">Auteur
                        <p-sortIcon>
                        </p-sortIcon>
                    </th>
                    <th id="commentaire">Commentaires
                        <p-sortIcon>
                        </p-sortIcon>
                    </th>
                    <th id="actions" pSortableColumn="Actions">Actions
                        <p-sortIcon field="Actions"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-document>
                <tr>
                    <td>
                        <div class="document-name-blc document-icn"> {{document.nom}} </div>
                    </td>
                    <td>{{document.type_document_libelle}}</td>
                    <td>{{document.createdat |date:'MM/dd/yyyy' }}</td>
                    <td>{{document.updatedat |date:'MM/dd/yyyy' }}</td>
                    <td>{{document.auteur_firstname}} {{document.auteur_lastname}}</td>
                    <td>-</td>
                    <td>
                        <div class="more-link">
                            <button pButton class="p-panel-header-icon p-link" icon="pi pi-ellipsis-h" (click)="menu.toggle($event)">
                            </button>
                            <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                        </div>
                        <!--.more-link-->
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-rows>
                <tr>
                    <td colspan="7">
                        <div class="p-text-center"> Aucun modèle de document disponible</div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10" [totalRecords]="totalRecords" [alwaysShow]="true" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,25,50]"></p-paginator>
    </div>
    <!--.table-area-->
</div>
<!--.gestion-modeles-area-->
<app-import-modal (closeModal)="close()" *ngIf="importDisplayModal"></app-import-modal>
<app-modal-modele [modeleOpen]="displayModal"></app-modal-modele>